[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
[packages]
django = "*"
gunicorn = "*"
django-heroku = "*"
requests = "*"
django-ranged-response = "==0.2.0"
django-simple-captcha = "==0.5.6"
djangorestframework = "==3.7.7"
pillow = "==5.0.0"
pytz = "==2017.3"
mysqlclient = "*"
sorl-thumbnail = "*"
django-storages = "*"
boto3="*"
[requires]
python_version = "3.6"
